In [12]:
a = 10
b = 25
c = 15

greatest = max(a, b, c)
print("The greatest number is:", greatest)

The greatest number is: 25

In [13]:
a,b,c=10,12,13

if a >= b and a >= c:
    greatest_num= a
elif b >= a and b >= c:
    greatest_num = b
else:
    greatest_num = c

print("The greatest number (without inbuilt function) is:", greatest_num)

The greatest number (without inbuilt function) is: 13

In [14]:
b=False
b=bool(False)

print(bool(1))
print(bool(0.0))
print(b)
print(bool(None))
print("")
print(bool(False))

True
False
False
False

False

In [15]:
###print funciton
# syntax:
# print(objects,sep=seperator,end=end,file=file,flush=Flush)

The flush parameter in the print function forces the output to be written to the terminal or file immediately, without buffering. By default, output may be buffered and not appear right away. Setting flush=True ensures the output is displayed instantly.

In [16]:
print(1,1,1,21,2,12,sep='_',flush=True)

1_1_1_21_2_12

In [17]:
x,y,z=1,2,3
print(x,y,x)
print(x,y,z,sep='#',end='EndOfLine')
print('\n')
print('this','is','python','training',sep="_")

1 2 1
1#2#3EndOfLine

this_is_python_training

In [18]:
print(1,1,1,21,2,12,sep='_',end='@')

1_1_1_21_2_12@

In [19]:
x=5

In [20]:
print(type(x))

<class 'int'>

In [21]:
x=int(5)

In [22]:
z='hello'
print(type(z))

<class 'str'>

In [23]:
z=float("5")

In [24]:
num = float(input("Enter a floating point number: "))
square = num ** 2
cube = num ** 3
square_root = num ** 0.5

print("Square:", square)
print("Cube:", cube)
print(f"Square Root: {square_root:.2f}")

ValueError: could not convert string to float: ''

In [ ]:
a=[1,2,3,4,5]

In [ ]:
sum(a)

15

In [ ]:
nums=[0,1,2,4]

In [ ]:
print(sum(range(len(nums)+1))-sum(nums))

3

In [ ]:
s='procrastination'
#= 012345678910
print(s[::])
print(s[2:10:])
print(s[:5:])
print(s[2:12:2])
print(s[10:2:-2])
print(s[::-1])
print(s[-2:-10:-2])
#print(s[10:2:2])

procrastination
ocrastin
procr
orsia
aisr
noitanitsarcorp
otnt

In [ ]:
import re

vowels = re.findall(r'[aeiou]', s)
print("Vowels in s:", vowels)

Vowels in s: ['o', 'a', 'i', 'a', 'i', 'o']

In [ ]:
cat = """the cat sat on the mat and got caught into the matching sweater while the dog watched from the corner, wagging its tail happily as the sun set outside the window."""

In [ ]:
print(re.match("cat", "dog cat"))  # Checks if pattern matches from the beginning
print(re.search("cat", "dog cat"))  # Searches for the pattern anywhere
print(re.findall("cat", "dog cat dog cat dog cat"))  # Returns all non-overlapping matches
print(re.sub("cat", "dog", "the catch slept next to the other catastrophe"))   # Replaces pattern with repl

None
<re.Match object; span=(4, 7), match='cat'>
['cat', 'cat', 'cat']
the dogch slept next to the other dogastrophe

In [ ]:
print(re.findall('at',str))

['at', 'at', 'at', 'at', 'at', 'at']

In [ ]:
from collections import Counter
import re
words = re.findall(r'\b\w+\b', cat)
word_counts = Counter(words)
print(word_counts)

Counter({'the': 7, 'cat': 1, 'sat': 1, 'on': 1, 'mat': 1, 'and': 1, 'got': 1, 'caught': 1, 'into': 1, 'matching': 1, 'sweater': 1, 'while': 1, 'dog': 1, 'watched': 1, 'from': 1, 'corner': 1, 'wagging': 1, 'its': 1, 'tail': 1, 'happily': 1, 'as': 1, 'sun': 1, 'set': 1, 'outside': 1, 'window': 1})

In [ ]:
import re

emails = [
    "alice@example.com",
    "bob_at_example.com",
    "charlie123@gmail.com",
    "invalid-email@",
    "david.smith@company.co.uk"
]

phones = [
    "123-456-7890",
    "(123) 456-7890",
    "1234567890",
    "+1 123 456 7890",
    "98765"
]

email_pattern = re.compile(r'^[\w\.-]+@[\w\.-]+\.\w+$')
phone_pattern = re.compile(r'^(\+?\d{1,2}\s?)?(\(?\d{3}\)?[\s-]?)?\d{3}[\s-]?\d{4}$')

valid_emails = [email for email in emails if email_pattern.match(email)]
valid_phones = [phone for phone in phones if phone_pattern.match(phone)]

print("Valid emails:", valid_emails)
print("Valid phone numbers:", valid_phones)

Valid emails: ['alice@example.com', 'charlie123@gmail.com', 'david.smith@company.co.uk']
Valid phone numbers: ['123-456-7890', '(123) 456-7890', '1234567890', '+1 123 456 7890']

In [ ]:
num = int(input("Enter the number for which you want the multiplication table: "))
limit = int(input("Enter the limit up to which you want the table: "))

print(f"Multiplication table for {num}:")
for i in range(1, limit + 1):
    print(f"{num} x {i} = {num * i}")

Multiplication table for 11:
11 x 1 = 11
11 x 2 = 22
11 x 3 = 33
11 x 4 = 44
11 x 5 = 55
11 x 6 = 66
11 x 7 = 77
11 x 8 = 88
11 x 9 = 99
11 x 10 = 110
11 x 11 = 121

#the below solution is used in two sum problem

In [ ]:
nums=[1,2,3,4,5]
# for i,v in enumerate(nums):
#     print(i,v)

nums_index = sorted([(num, i) for i, num in enumerate(nums)])
print(nums_index)

[(1, 0), (2, 1), (3, 2), (4, 3), (5, 4)]

In [ ]:
for i,num in enumerate(nums):
    print(i,num)

0 1
1 2
2 3
3 4
4 5

In [ ]:
a=[(num,i) for i,num in enumerate(nums)]
print(a)

[(1, 0), (2, 1), (3, 2), (4, 3), (5, 4)]

In [ ]:
a=[(i,num) for i,num in enumerate(nums)]
print(a)

[(0, 1), (1, 2), (2, 3), (3, 4), (4, 5)]

In [ ]:
a=sorted([(i,num) for i,num in enumerate(nums)])
print(a)

[(0, 1), (1, 2), (2, 3), (3, 4), (4, 5)]

In [ ]:
a[3][0]

3

Anagram_mapping

In [ ]:
from collections import defaultdict
str=['ate','tea','tan','eat','nat','bat']
result=[]
anagram_map=defaultdict(list)
for s in str:
    sorted_s=tuple(sorted(s))
    anagram_map[sorted_s].append(s)

In [ ]:
for s in str:
    print(sorted(s))

['a', 'e', 't']
['a', 'e', 't']
['a', 'n', 't']
['a', 'e', 't']
['a', 'n', 't']
['a', 'b', 't']

In [ ]:
str,sorted_s,anagram_map

(['ate', 'tea', 'tan', 'eat', 'nat', 'bat'],
 ('a', 'b', 't'),
 defaultdict(list,
             {('a', 'e', 't'): ['ate', 'tea', 'eat'],
              ('a', 'n', 't'): ['tan', 'nat'],
              ('a', 'b', 't'): ['bat']}))

In [ ]:
for val in anagram_map.values():
    result.append(val)
print(result)

[['ate', 'tea', 'eat'], ['tan', 'nat'], ['bat']]

In [ ]:


an_map=defaultdict(list)
an_map[sorted_s].append(s)

In [ ]:
print(an_map)

defaultdict(<class 'list'>, {('ate', 'bat', 'eat', 'nat', 'tan', 'tea'): [['ate', 'tea', 'tan', 'eat', 'nat', 'bat']]})

In [ ]:
jewels='aA'
stones='aAAbbbb'
#findout no of jewels in stones
#expected output =3

def lets_calc(jewels,stones):
    count=0
    for stone in stones:
        if stone in jewels:
            count+=1
    return count

lets_calc(jewels,stones)

3

ransome_magazine   hashmap technique

In [ ]:
an="aabba"
map={}
for c in an:
    if c in map:
        map[c] +=1
    else:
        map[c]=1

In [ ]:
map

{'a': 3, 'b': 2}

In [ ]:
map['a']

3

In [ ]:
magazine="aabb"
hash_map={}
for c in magazine:
        if c in hash_map:
            hash_map[c] +=1
        else:
            hash_map[c]=1

In [ ]:
from collections import Counter
nums=[2,14,18,22,22]
co=Counter(nums)
def cal(nums,co):
    count=co
    for c in nums:
        if count[c]>1:
            return True
        else:
            return False
    print(count)

cal(nums,co)

False

In [ ]:
co[22]

2

In [ ]:
from collections import defaultdict
a=['1','2','3','4','5','6','1','1','2']
map=defaultdict(list)
for i in a:
    map[i].append(i)

map

defaultdict(list,
            {'1': ['1', '1', '1'],
             '2': ['2', '2'],
             '3': ['3'],
             '4': ['4'],
             '5': ['5'],
             '6': ['6']})

In [ ]:
map=defaultdict(int)
a=[1,2,3,4,5,6,7,5,5,6,7]
b=set(a)
for i in a:
    if i in b:
        map[i]+=1
map

defaultdict(int, {1: 1, 2: 1, 3: 1, 4: 1, 5: 3, 6: 2, 7: 2})

387

In [ ]:
from collections import defaultdict
s="leetcode"
map=defaultdict(int)
for c in s:
    map[c] +=1

In [ ]:
map

defaultdict(int, {'l': 1, 'e': 3, 't': 1, 'c': 1, 'o': 1, 'd': 1})

In [ ]:
def cla(s):
    s="leetcode"
    map=defaultdict(int)
    for c in s:
       map[c] +=1
    for i,n in enumerate(s):
        if map[n]==1:
            return i
    return -1

cla(s) #final

0

In [ ]:
for i in range(26):
    print (i)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25

In [ ]:
a='10'
b=int(a,2)
b

2

In [ ]:
decimal_number = int(a)
binary_representation = bin(decimal_number)[2:]
print(f"Binary representation of {decimal_number} is {binary_representation}")

Binary representation of 10 is 1010

In [ ]:
# The bin() function converts an integer to its binary representation as a string, prefixed with '0b'.
# Example:
print(bin(decimal_number))  # Output: '0b1010'

In [ ]:
a=122221
a/100000

1.22221

In [ ]:
a%10

1

In [ ]:
print("a / 100000 =", a / 100000)   # Division: quotient as float
print("a % 100000 =", a % 100000)   # Modulo: remainder as int

In [ ]:
a='121'
div=1
if len(a)<div*10:
    div *=10

div
int(a)/div

12.1

In [ ]:
text = "This is underlined text"
print("\033[4m" + text + "\033[0m")

This is underlined text

In [ ]:
nums1=[1,2,3,4,0,0,0]
nums2=[2,5,6]
a=sorted(nums1)
b=sorted(nums2)

In [ ]:
print(a)
print(b)

[0, 0, 0, 1, 2, 3, 4]
[2, 5, 6]

In [ ]:

        # Remove all zeros from nums1
nums1 = [x for x in nums1 if x != 0]
nums2 = [x for x in nums2 if x != 0]

In [ ]:
nums1,nums2

([1, 2, 3, 4], [2, 5, 6])

In [ ]:
nums1=nums1+nums2
nums1=sorted(nums1)
nums1

[1, 2, 2, 3, 4, 5, 6]

In [ ]:
nums1[m:]=nums2
nums1.sort()

In [ ]:
nums1

[1, 2, 2, 3, 3]

In [ ]:
nums1[3:]=nums2
nums1

[1, 2, 2, 2, 3]

In [ ]:
nums1[3:]

[2, 3]

In [ ]:
a=[1,2,3,4,0,0,0]
m=4
b=[2,3,4]

a[4:]=b[:2]
a

[1, 2, 3, 4, 2, 3]

In [ ]:
1221//1000
1221%10

1

In [ ]:
nums=[1,0,1,1,1,2,3]
nums.sort(key=lambda x: x == 1)

In [ ]:
nums

[0, 2, 3, 1, 1, 1, 1]

In [ ]:
a=['a','bc','aaa','a','bb']
a.sort(key=len)

a

['a', 'a', 'bc', 'bb', 'aaa']

In [ ]:
nums = [1, 2, 3, 4]
target = 6

num_map = {}
for i, num in enumerate(nums):
    complement = target - num
    if complement in num_map:
        print([num_map[complement], i])
        break
    num_map[num] = i #0 1. 1 2. 2 3.

[1, 3]

-----------------------------------------------------------------------------------------------------------------------------------------------------------

JUN 25 2025

No of rectangles in a square

In [ ]:
m=3 
n=3
def calc(m,n):
    res=(m*(m+1)//2)*(n*(n+1)//2)
    return res

calc(m, n)

36

no of squares in a recatngele

3*4
2*3
1*2

In [ ]:
#method 1
m=3
n=4
a=0
b=0
sum=0
for i in range(1,m+1):
    sum+=(m*n)
    m-=1
    n-=1
print(sum)

20

In [ ]:
#method2

def sq(m,n):
    sum=0
    mi=min(m,n)
    for i in range(1,mi+1):
        sum=sum+((m-i+1)*(n-i+1))
 
    print(sum)


sq(5,4)

40

In [ ]:
m=3
n=4

def calc(m,n):
    res=0
    a=0
    b=0
    for i in range(m+1):
        a+=i
    for i in range(n+1):
        b+=i
    res=a*b
    return res

calc(m,n)

60

Q3.)write a code to find out factors of an given integer.

constraints

1>=n<=10**15

input 10
output [1,2,5,10]

In [ ]:
def fact(num):
    li=[]
    for i in range(1,num//2):
        if num % i==0:
            li.append(i)
    return li

fact(10**1)

[1, 2]

In [ ]:
def fact(num):
    li=[]
    for i in range(1,num):
        if num/i=:
            li.append(i)
    return li

fact(10**15)

In [ ]:
a=int(input())
def fact(num):
    li=[]
    for i in range(1,int((num**0.5))+1):
        if num % i==0 :
            li.append(i)
            if i !=num//i:
                li.append(num//i)
    return li


print(sorted(fact(a)))

[1, 2, 4, 5, 8, 10, 16, 20, 25, 32, 40, 50, 64, 80, 100, 125, 128, 160, 200, 250, 256, 320, 400, 500, 512, 625, 640, 800, 1000, 1250, 1280, 1600, 2000, 2500, 2560, 3125, 3200, 4000, 5000, 6250, 6400, 8000, 10000, 12500, 12800, 15625, 16000, 20000, 25000, 31250, 32000, 40000, 50000, 62500, 64000, 78125, 80000, 100000, 125000, 156250, 160000, 200000, 250000, 312500, 320000, 390625, 400000, 500000, 625000, 781250, 800000, 1000000, 1250000, 1562500, 1600000, 1953125, 2000000, 2500000, 3125000, 3906250, 4000000, 5000000, 6250000, 7812500, 8000000, 10000000, 12500000, 15625000, 20000000, 25000000, 31250000, 40000000, 50000000, 62500000, 100000000, 125000000, 200000000, 250000000, 500000000, 1000000000]

In [ ]:
import math
math.fsum([10, 20]) #predefined

30.0

write a code to find a given num is armstrong or not by the given function

constraints

1>=n<=10**10


a number is armstrong if the cube of its digits form the same number

153.     1^3+5^3+3^3=153

In [ ]:
def arm(num):
    sum=0
    d=str(num)
    for n in d:
        sum +=int(n)**3
    if sum==num:
        return True
    else:
        return False
    
arm(153)

True

In [ ]:
def arm(num):
    sum = 0
    digits = str(num)
    for n in digits:
        sum += int(n) ** 3
    return sum == num
       
print(arm(19999999111111111111112233241224341))

False

In [ ]:
153/100

1.53

In [ ]:
153%10

3

write a program to find if an number is jumping number or not if not return the previous jumping number.

note:
use of list is not allowed


test cases
input:7678
output:True

input :5000
output: false

In [ ]:
def jum(num):
    num=str(num)
    for i in range(len(num)-1):
        if abs(int(num[i])-int(num[i+1]))==1:
            return True
    return False

print(jum(76))

True

splitting no through mod

In [ ]:
arr=[]
num=1786
temp=1786%10
print(temp)
arr.append(temp)
print(arr)
num=num//10
num
# arr=[]
# arr=[]
# arr=arr.append(temp)
# print(arr)

# 1786//10

6
[6]

178

recursion

In [ ]:
def num(a):
    if a==0:
        return 0
    print(a)
    num(a-1)

num(10)

10
9
8
7
6
5
4
3
2
1

recursion chain

In [ ]:
def func1(n):
    if n==10:
        return
    print(n,end="")
    func2(n+1)
def func2(n):
    if n==10:
        return
    print(n,end="")
    func1(n+1)

func1(1)

123456789

tail recursion

In [ ]:
#factorial of an number

def rec(n,ans=1):
    if n==1:
        return 1
    return n*rec(n-1)

rec(5)

120

In [ ]:
def fib(n,ans=1):
    if n==0:
        return 0
    elif n==1:
        return 1
    return fib(n-1)+fib(n-2)

fib(3)

2

1.)prime factor
2.)pascal triangel tour function
3.)recursive digit sum-recursive arithmatic
4.)ugly number

In [ ]:
def prime_factors(num):
    factors = []
    i = 2
    while i * i <= num:
        while num % i == 0:
            factors.append(i)
            num //= i
        i += 1
    if num > 1:
        factors.append(num)
    return list(set(factors))

# def p_no(a):
#     p=[]
#     for a in a:
#         if a%2!=0 and a/a==1:
#             p.append(a)
#     return p


prime_factors(100)

# print(p_no(a))

[2, 5]

In [ ]:
121%100

21

In [ ]:
121%10

1

In [ ]:
121//10

12

In [ ]:
121//100

1

In [ ]:
(1221%1000)//10

22

In [ ]:
12

In [ ]:
(1221%1000)/10

22.1

In [ ]:
a=1221
b=str(1221)
list=[f for f in b]
list

['1', '2', '2', '1']

In [ ]:
r_list=list[::-1]
r_list

['1', '2', '2', '1']

In [ ]:
rev="".join(r_list)
rev

'1221'

In [ ]:
a=1101
b=1000

bin(a^b)

'0b11110100101'

tower of hanoi consists of 3 rods (a b c) and a set of 3 diff disk that can be stacked on the top of eachother. a objective is to move the entire stack of disk from rod a to rod c with the following rules

1.> one disk can be moved ata time
2.> each move consists of taking the top disks from one of the stacks and placing it  on top of another stack or an empty stack
3.> no disk can be placed on top of a small disk

input :
3 
output :
move disk 1 from a to c
move disk 2 from a to b
move disk 1 from c to b
move disk 3 from a to c
move disk 1 from b to a
move disk 2 from b to c
move disk 1 from a to c
```python

```

In [ ]:
def tower_of_hanoi(n, source, auxiliary, target):
    if n == 1:
        print(f"move disk 1 from {source} to {target}")
        return
    tower_of_hanoi(n-1, source, target, auxiliary)
    print(f"move disk {n} from {source} to {target}")
    tower_of_hanoi(n-1, auxiliary, source, target)

tower_of_hanoi(10, 'a', 'b', 'c')

move disk 1 from a to b
move disk 2 from a to c
move disk 1 from b to c
move disk 3 from a to b
move disk 1 from c to a
move disk 2 from c to b
move disk 1 from a to b
move disk 4 from a to c
move disk 1 from b to c
move disk 2 from b to a
move disk 1 from c to a
move disk 3 from b to c
move disk 1 from a to b
move disk 2 from a to c
move disk 1 from b to c
move disk 5 from a to b
move disk 1 from c to a
move disk 2 from c to b
move disk 1 from a to b
move disk 3 from c to a
move disk 1 from b to c
move disk 2 from b to a
move disk 1 from c to a
move disk 4 from c to b
move disk 1 from a to b
move disk 2 from a to c
move disk 1 from b to c
move disk 3 from a to b
move disk 1 from c to a
move disk 2 from c to b
move disk 1 from a to b
move disk 6 from a to c
move disk 1 from b to c
move disk 2 from b to a
move disk 1 from c to a
move disk 3 from b to c
move disk 1 from a to b
move disk 2 from a to c
move disk 1 from b to c
move disk 4 from b to a
move disk 1 from c to a
move disk 2 from c to b
move disk 1 from a to b
move disk 3 from c to a
move disk 1 from b to c
move disk 2 from b to a
move disk 1 from c to a
move disk 5 from b to c
move disk 1 from a to b
move disk 2 from a to c
move disk 1 from b to c
move disk 3 from a to b
move disk 1 from c to a
move disk 2 from c to b
move disk 1 from a to b
move disk 4 from a to c
move disk 1 from b to c
move disk 2 from b to a
move disk 1 from c to a
move disk 3 from b to c
move disk 1 from a to b
move disk 2 from a to c
move disk 1 from b to c
move disk 7 from a to b
move disk 1 from c to a
move disk 2 from c to b
move disk 1 from a to b
move disk 3 from c to a
move disk 1 from b to c
move disk 2 from b to a
move disk 1 from c to a
move disk 4 from c to b
move disk 1 from a to b
move disk 2 from a to c
move disk 1 from b to c
move disk 3 from a to b
move disk 1 from c to a
move disk 2 from c to b
move disk 1 from a to b
move disk 5 from c to a
move disk 1 from b to c
move disk 2 from b to a
move disk 1 from c to a
move disk 3 from b to c
move disk 1 from a to b
move disk 2 from a to c
move disk 1 from b to c
move disk 4 from b to a
move disk 1 from c to a
move disk 2 from c to b
move disk 1 from a to b
move disk 3 from c to a
move disk 1 from b to c
move disk 2 from b to a
move disk 1 from c to a
move disk 6 from c to b
move disk 1 from a to b
move disk 2 from a to c
move disk 1 from b to c
move disk 3 from a to b
move disk 1 from c to a
move disk 2 from c to b
move disk 1 from a to b
move disk 4 from a to c
move disk 1 from b to c
move disk 2 from b to a
move disk 1 from c to a
move disk 3 from b to c
move disk 1 from a to b
move disk 2 from a to c
move disk 1 from b to c
move disk 5 from a to b
move disk 1 from c to a
move disk 2 from c to b
move disk 1 from a to b
move disk 3 from c to a
move disk 1 from b to c
move disk 2 from b to a
move disk 1 from c to a
move disk 4 from c to b
move disk 1 from a to b
move disk 2 from a to c
move disk 1 from b to c
move disk 3 from a to b
move disk 1 from c to a
move disk 2 from c to b
move disk 1 from a to b
move disk 8 from a to c
move disk 1 from b to c
move disk 2 from b to a
move disk 1 from c to a
move disk 3 from b to c
move disk 1 from a to b
move disk 2 from a to c
move disk 1 from b to c
move disk 4 from b to a
move disk 1 from c to a
move disk 2 from c to b
move disk 1 from a to b
move disk 3 from c to a
move disk 1 from b to c
move disk 2 from b to a
move disk 1 from c to a
move disk 5 from b to c
move disk 1 from a to b
move disk 2 from a to c
move disk 1 from b to c
move disk 3 from a to b
move disk 1 from c to a
move disk 2 from c to b
move disk 1 from a to b
move disk 4 from a to c
move disk 1 from b to c
move disk 2 from b to a
move disk 1 from c to a
move disk 3 from b to c
move disk 1 from a to b
move disk 2 from a to c
move disk 1 from b to c
move disk 6 from b to a
move disk 1 from c to a
move disk 2 from c to b
move disk 1 from a to b
move disk 3 from c to a
move disk 1 from b to c
move disk 2 from b to a
move disk 1 from c to a
move disk 4 from c to b
move disk 1 from a to b
move disk 2 from a to c
move disk 1 from b to c
move disk 3 from a to b
move disk 1 from c to a
move disk 2 from c to b
move disk 1 from a to b
move disk 5 from c to a
move disk 1 from b to c
move disk 2 from b to a
move disk 1 from c to a
move disk 3 from b to c
move disk 1 from a to b
move disk 2 from a to c
move disk 1 from b to c
move disk 4 from b to a
move disk 1 from c to a
move disk 2 from c to b
move disk 1 from a to b
move disk 3 from c to a
move disk 1 from b to c
move disk 2 from b to a
move disk 1 from c to a
move disk 7 from b to c
move disk 1 from a to b
move disk 2 from a to c
move disk 1 from b to c
move disk 3 from a to b
move disk 1 from c to a
move disk 2 from c to b
move disk 1 from a to b
move disk 4 from a to c
move disk 1 from b to c
move disk 2 from b to a
move disk 1 from c to a
move disk 3 from b to c
move disk 1 from a to b
move disk 2 from a to c
move disk 1 from b to c
move disk 5 from a to b
move disk 1 from c to a
move disk 2 from c to b
move disk 1 from a to b
move disk 3 from c to a
move disk 1 from b to c
move disk 2 from b to a
move disk 1 from c to a
move disk 4 from c to b
move disk 1 from a to b
move disk 2 from a to c
move disk 1 from b to c
move disk 3 from a to b
move disk 1 from c to a
move disk 2 from c to b
move disk 1 from a to b
move disk 6 from a to c
move disk 1 from b to c
move disk 2 from b to a
move disk 1 from c to a
move disk 3 from b to c
move disk 1 from a to b
move disk 2 from a to c
move disk 1 from b to c
move disk 4 from b to a
move disk 1 from c to a
move disk 2 from c to b
move disk 1 from a to b
move disk 3 from c to a
move disk 1 from b to c
move disk 2 from b to a
move disk 1 from c to a
move disk 5 from b to c
move disk 1 from a to b
move disk 2 from a to c
move disk 1 from b to c
move disk 3 from a to b
move disk 1 from c to a
move disk 2 from c to b
move disk 1 from a to b
move disk 4 from a to c
move disk 1 from b to c
move disk 2 from b to a
move disk 1 from c to a
move disk 3 from b to c
move disk 1 from a to b
move disk 2 from a to c
move disk 1 from b to c
move disk 9 from a to b
move disk 1 from c to a
move disk 2 from c to b
move disk 1 from a to b
move disk 3 from c to a
move disk 1 from b to c
move disk 2 from b to a
move disk 1 from c to a
move disk 4 from c to b
move disk 1 from a to b
move disk 2 from a to c
move disk 1 from b to c
move disk 3 from a to b
move disk 1 from c to a
move disk 2 from c to b
move disk 1 from a to b
move disk 5 from c to a
move disk 1 from b to c
move disk 2 from b to a
move disk 1 from c to a
move disk 3 from b to c
move disk 1 from a to b
move disk 2 from a to c
move disk 1 from b to c
move disk 4 from b to a
move disk 1 from c to a
move disk 2 from c to b
move disk 1 from a to b
move disk 3 from c to a
move disk 1 from b to c
move disk 2 from b to a
move disk 1 from c to a
move disk 6 from c to b
move disk 1 from a to b
move disk 2 from a to c
move disk 1 from b to c
move disk 3 from a to b
move disk 1 from c to a
move disk 2 from c to b
move disk 1 from a to b
move disk 4 from a to c
move disk 1 from b to c
move disk 2 from b to a
move disk 1 from c to a
move disk 3 from b to c
move disk 1 from a to b
move disk 2 from a to c
move disk 1 from b to c
move disk 5 from a to b
move disk 1 from c to a
move disk 2 from c to b
move disk 1 from a to b
move disk 3 from c to a
move disk 1 from b to c
move disk 2 from b to a
move disk 1 from c to a
move disk 4 from c to b
move disk 1 from a to b
move disk 2 from a to c
move disk 1 from b to c
move disk 3 from a to b
move disk 1 from c to a
move disk 2 from c to b
move disk 1 from a to b
move disk 7 from c to a
move disk 1 from b to c
move disk 2 from b to a
move disk 1 from c to a
move disk 3 from b to c
move disk 1 from a to b
move disk 2 from a to c
move disk 1 from b to c
move disk 4 from b to a
move disk 1 from c to a
move disk 2 from c to b
move disk 1 from a to b
move disk 3 from c to a
move disk 1 from b to c
move disk 2 from b to a
move disk 1 from c to a
move disk 5 from b to c
move disk 1 from a to b
move disk 2 from a to c
move disk 1 from b to c
move disk 3 from a to b
move disk 1 from c to a
move disk 2 from c to b
move disk 1 from a to b
move disk 4 from a to c
move disk 1 from b to c
move disk 2 from b to a
move disk 1 from c to a
move disk 3 from b to c
move disk 1 from a to b
move disk 2 from a to c
move disk 1 from b to c
move disk 6 from b to a
move disk 1 from c to a
move disk 2 from c to b
move disk 1 from a to b
move disk 3 from c to a
move disk 1 from b to c
move disk 2 from b to a
move disk 1 from c to a
move disk 4 from c to b
move disk 1 from a to b
move disk 2 from a to c
move disk 1 from b to c
move disk 3 from a to b
move disk 1 from c to a
move disk 2 from c to b
move disk 1 from a to b
move disk 5 from c to a
move disk 1 from b to c
move disk 2 from b to a
move disk 1 from c to a
move disk 3 from b to c
move disk 1 from a to b
move disk 2 from a to c
move disk 1 from b to c
move disk 4 from b to a
move disk 1 from c to a
move disk 2 from c to b
move disk 1 from a to b
move disk 3 from c to a
move disk 1 from b to c
move disk 2 from b to a
move disk 1 from c to a
move disk 8 from c to b
move disk 1 from a to b
move disk 2 from a to c
move disk 1 from b to c
move disk 3 from a to b
move disk 1 from c to a
move disk 2 from c to b
move disk 1 from a to b
move disk 4 from a to c
move disk 1 from b to c
move disk 2 from b to a
move disk 1 from c to a
move disk 3 from b to c
move disk 1 from a to b
move disk 2 from a to c
move disk 1 from b to c
move disk 5 from a to b
move disk 1 from c to a
move disk 2 from c to b
move disk 1 from a to b
move disk 3 from c to a
move disk 1 from b to c
move disk 2 from b to a
move disk 1 from c to a
move disk 4 from c to b
move disk 1 from a to b
move disk 2 from a to c
move disk 1 from b to c
move disk 3 from a to b
move disk 1 from c to a
move disk 2 from c to b
move disk 1 from a to b
move disk 6 from a to c
move disk 1 from b to c
move disk 2 from b to a
move disk 1 from c to a
move disk 3 from b to c
move disk 1 from a to b
move disk 2 from a to c
move disk 1 from b to c
move disk 4 from b to a
move disk 1 from c to a
move disk 2 from c to b
move disk 1 from a to b
move disk 3 from c to a
move disk 1 from b to c
move disk 2 from b to a
move disk 1 from c to a
move disk 5 from b to c
move disk 1 from a to b
move disk 2 from a to c
move disk 1 from b to c
move disk 3 from a to b
move disk 1 from c to a
move disk 2 from c to b
move disk 1 from a to b
move disk 4 from a to c
move disk 1 from b to c
move disk 2 from b to a
move disk 1 from c to a
move disk 3 from b to c
move disk 1 from a to b
move disk 2 from a to c
move disk 1 from b to c
move disk 7 from a to b
move disk 1 from c to a
move disk 2 from c to b
move disk 1 from a to b
move disk 3 from c to a
move disk 1 from b to c
move disk 2 from b to a
move disk 1 from c to a
move disk 4 from c to b
move disk 1 from a to b
move disk 2 from a to c
move disk 1 from b to c
move disk 3 from a to b
move disk 1 from c to a
move disk 2 from c to b
move disk 1 from a to b
move disk 5 from c to a
move disk 1 from b to c
move disk 2 from b to a
move disk 1 from c to a
move disk 3 from b to c
move disk 1 from a to b
move disk 2 from a to c
move disk 1 from b to c
move disk 4 from b to a
move disk 1 from c to a
move disk 2 from c to b
move disk 1 from a to b
move disk 3 from c to a
move disk 1 from b to c
move disk 2 from b to a
move disk 1 from c to a
move disk 6 from c to b
move disk 1 from a to b
move disk 2 from a to c
move disk 1 from b to c
move disk 3 from a to b
move disk 1 from c to a
move disk 2 from c to b
move disk 1 from a to b
move disk 4 from a to c
move disk 1 from b to c
move disk 2 from b to a
move disk 1 from c to a
move disk 3 from b to c
move disk 1 from a to b
move disk 2 from a to c
move disk 1 from b to c
move disk 5 from a to b
move disk 1 from c to a
move disk 2 from c to b
move disk 1 from a to b
move disk 3 from c to a
move disk 1 from b to c
move disk 2 from b to a
move disk 1 from c to a
move disk 4 from c to b
move disk 1 from a to b
move disk 2 from a to c
move disk 1 from b to c
move disk 3 from a to b
move disk 1 from c to a
move disk 2 from c to b
move disk 1 from a to b
move disk 10 from a to c
move disk 1 from b to c
move disk 2 from b to a
move disk 1 from c to a
move disk 3 from b to c
move disk 1 from a to b
move disk 2 from a to c
move disk 1 from b to c
move disk 4 from b to a
move disk 1 from c to a
move disk 2 from c to b
move disk 1 from a to b
move disk 3 from c to a
move disk 1 from b to c
move disk 2 from b to a
move disk 1 from c to a
move disk 5 from b to c
move disk 1 from a to b
move disk 2 from a to c
move disk 1 from b to c
move disk 3 from a to b
move disk 1 from c to a
move disk 2 from c to b
move disk 1 from a to b
move disk 4 from a to c
move disk 1 from b to c
move disk 2 from b to a
move disk 1 from c to a
move disk 3 from b to c
move disk 1 from a to b
move disk 2 from a to c
move disk 1 from b to c
move disk 6 from b to a
move disk 1 from c to a
move disk 2 from c to b
move disk 1 from a to b
move disk 3 from c to a
move disk 1 from b to c
move disk 2 from b to a
move disk 1 from c to a
move disk 4 from c to b
move disk 1 from a to b
move disk 2 from a to c
move disk 1 from b to c
move disk 3 from a to b
move disk 1 from c to a
move disk 2 from c to b
move disk 1 from a to b
move disk 5 from c to a
move disk 1 from b to c
move disk 2 from b to a
move disk 1 from c to a
move disk 3 from b to c
move disk 1 from a to b
move disk 2 from a to c
move disk 1 from b to c
move disk 4 from b to a
move disk 1 from c to a
move disk 2 from c to b
move disk 1 from a to b
move disk 3 from c to a
move disk 1 from b to c
move disk 2 from b to a
move disk 1 from c to a
move disk 7 from b to c
move disk 1 from a to b
move disk 2 from a to c
move disk 1 from b to c
move disk 3 from a to b
move disk 1 from c to a
move disk 2 from c to b
move disk 1 from a to b
move disk 4 from a to c
move disk 1 from b to c
move disk 2 from b to a
move disk 1 from c to a
move disk 3 from b to c
move disk 1 from a to b
move disk 2 from a to c
move disk 1 from b to c
move disk 5 from a to b
move disk 1 from c to a
move disk 2 from c to b
move disk 1 from a to b
move disk 3 from c to a
move disk 1 from b to c
move disk 2 from b to a
move disk 1 from c to a
move disk 4 from c to b
move disk 1 from a to b
move disk 2 from a to c
move disk 1 from b to c
move disk 3 from a to b
move disk 1 from c to a
move disk 2 from c to b
move disk 1 from a to b
move disk 6 from a to c
move disk 1 from b to c
move disk 2 from b to a
move disk 1 from c to a
move disk 3 from b to c
move disk 1 from a to b
move disk 2 from a to c
move disk 1 from b to c
move disk 4 from b to a
move disk 1 from c to a
move disk 2 from c to b
move disk 1 from a to b
move disk 3 from c to a
move disk 1 from b to c
move disk 2 from b to a
move disk 1 from c to a
move disk 5 from b to c
move disk 1 from a to b
move disk 2 from a to c
move disk 1 from b to c
move disk 3 from a to b
move disk 1 from c to a
move disk 2 from c to b
move disk 1 from a to b
move disk 4 from a to c
move disk 1 from b to c
move disk 2 from b to a
move disk 1 from c to a
move disk 3 from b to c
move disk 1 from a to b
move disk 2 from a to c
move disk 1 from b to c
move disk 8 from b to a
move disk 1 from c to a
move disk 2 from c to b
move disk 1 from a to b
move disk 3 from c to a
move disk 1 from b to c
move disk 2 from b to a
move disk 1 from c to a
move disk 4 from c to b
move disk 1 from a to b
move disk 2 from a to c
move disk 1 from b to c
move disk 3 from a to b
move disk 1 from c to a
move disk 2 from c to b
move disk 1 from a to b
move disk 5 from c to a
move disk 1 from b to c
move disk 2 from b to a
move disk 1 from c to a
move disk 3 from b to c
move disk 1 from a to b
move disk 2 from a to c
move disk 1 from b to c
move disk 4 from b to a
move disk 1 from c to a
move disk 2 from c to b
move disk 1 from a to b
move disk 3 from c to a
move disk 1 from b to c
move disk 2 from b to a
move disk 1 from c to a
move disk 6 from c to b
move disk 1 from a to b
move disk 2 from a to c
move disk 1 from b to c
move disk 3 from a to b
move disk 1 from c to a
move disk 2 from c to b
move disk 1 from a to b
move disk 4 from a to c
move disk 1 from b to c
move disk 2 from b to a
move disk 1 from c to a
move disk 3 from b to c
move disk 1 from a to b
move disk 2 from a to c
move disk 1 from b to c
move disk 5 from a to b
move disk 1 from c to a
move disk 2 from c to b
move disk 1 from a to b
move disk 3 from c to a
move disk 1 from b to c
move disk 2 from b to a
move disk 1 from c to a
move disk 4 from c to b
move disk 1 from a to b
move disk 2 from a to c
move disk 1 from b to c
move disk 3 from a to b
move disk 1 from c to a
move disk 2 from c to b
move disk 1 from a to b
move disk 7 from c to a
move disk 1 from b to c
move disk 2 from b to a
move disk 1 from c to a
move disk 3 from b to c
move disk 1 from a to b
move disk 2 from a to c
move disk 1 from b to c
move disk 4 from b to a
move disk 1 from c to a
move disk 2 from c to b
move disk 1 from a to b
move disk 3 from c to a
move disk 1 from b to c
move disk 2 from b to a
move disk 1 from c to a
move disk 5 from b to c
move disk 1 from a to b
move disk 2 from a to c
move disk 1 from b to c
move disk 3 from a to b
move disk 1 from c to a
move disk 2 from c to b
move disk 1 from a to b
move disk 4 from a to c
move disk 1 from b to c
move disk 2 from b to a
move disk 1 from c to a
move disk 3 from b to c
move disk 1 from a to b
move disk 2 from a to c
move disk 1 from b to c
move disk 6 from b to a
move disk 1 from c to a
move disk 2 from c to b
move disk 1 from a to b
move disk 3 from c to a
move disk 1 from b to c
move disk 2 from b to a
move disk 1 from c to a
move disk 4 from c to b
move disk 1 from a to b
move disk 2 from a to c
move disk 1 from b to c
move disk 3 from a to b
move disk 1 from c to a
move disk 2 from c to b
move disk 1 from a to b
move disk 5 from c to a
move disk 1 from b to c
move disk 2 from b to a
move disk 1 from c to a
move disk 3 from b to c
move disk 1 from a to b
move disk 2 from a to c
move disk 1 from b to c
move disk 4 from b to a
move disk 1 from c to a
move disk 2 from c to b
move disk 1 from a to b
move disk 3 from c to a
move disk 1 from b to c
move disk 2 from b to a
move disk 1 from c to a
move disk 9 from b to c
move disk 1 from a to b
move disk 2 from a to c
move disk 1 from b to c
move disk 3 from a to b
move disk 1 from c to a
move disk 2 from c to b
move disk 1 from a to b
move disk 4 from a to c
move disk 1 from b to c
move disk 2 from b to a
move disk 1 from c to a
move disk 3 from b to c
move disk 1 from a to b
move disk 2 from a to c
move disk 1 from b to c
move disk 5 from a to b
move disk 1 from c to a
move disk 2 from c to b
move disk 1 from a to b
move disk 3 from c to a
move disk 1 from b to c
move disk 2 from b to a
move disk 1 from c to a
move disk 4 from c to b
move disk 1 from a to b
move disk 2 from a to c
move disk 1 from b to c
move disk 3 from a to b
move disk 1 from c to a
move disk 2 from c to b
move disk 1 from a to b
move disk 6 from a to c
move disk 1 from b to c
move disk 2 from b to a
move disk 1 from c to a
move disk 3 from b to c
move disk 1 from a to b
move disk 2 from a to c
move disk 1 from b to c
move disk 4 from b to a
move disk 1 from c to a
move disk 2 from c to b
move disk 1 from a to b
move disk 3 from c to a
move disk 1 from b to c
move disk 2 from b to a
move disk 1 from c to a
move disk 5 from b to c
move disk 1 from a to b
move disk 2 from a to c
move disk 1 from b to c
move disk 3 from a to b
move disk 1 from c to a
move disk 2 from c to b
move disk 1 from a to b
move disk 4 from a to c
move disk 1 from b to c
move disk 2 from b to a
move disk 1 from c to a
move disk 3 from b to c
move disk 1 from a to b
move disk 2 from a to c
move disk 1 from b to c
move disk 7 from a to b
move disk 1 from c to a

the n queen problem 
to place en queens on n. n*n chessboard such that no two queens attack eachother
A queen can attack ver hor and diag

rules:
no 2 q can be in the same row or column

In [ ]:
def solve_n_queens(n):
    solutions = []
    board = [-1] * n

    def is_safe(row, col):
        for prev_row in range(row):
            if board[prev_row] == col or \
               abs(board[prev_row] - col) == abs(prev_row - row):
                return False
        return True

    def backtrack(row):
        if row == n:
            solutions.append(board[:])
            return
        for col in range(n):
            if is_safe(row, col):
                board[row] = col
                backtrack(row + 1)
                board[row] = -1

    backtrack(0)
    return solutions

# Example: Print all solutions for 4-queens
n = 5
result = solve_n_queens(n)
for sol in result:
    print(sol)